doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Travel Destinations
        table
            thead
                tr
                th Name
                th Country
                th Best Time to Visit
                th Attractions
            tbody
                each destination in data
                    - var bestTimeToVisit = destination.properties.best_time_to_visit.replace(/;/g, ', ')
                    tr
                        td #{destination.properties.destination_general_name}
                        td #{destination.properties.destination_country}
                        td #{bestTimeToVisit}
                        td #{destination.properties.attractions}